* {
    box-sizing: border-box;
}

div#output {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    justify-content: space-around;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    div#output > div {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div#output > div {
        width: 40%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    div#output > div {
        width: 30%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    div#output > div {
        width: 15%;
    }
}